* {
  #background-color: green; 
  
  #margin:0px auto;
  font-family:Arial, Helvetica, sans-serif;
}


.container{
   display: flex;
 
  justify-content: center !important;
  flex-direction: column;
}



.body-container{
  margin-top: 1%;
  display: flex;

  width: 49vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 942px;


}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
}



.text-left{
  min-width: 420px;
  text-align: justify;
  width:20.1vw;
  position:relative;
  float:left;

}



.text-right{
  min-width: 420px;
  position:relative;
  float:right;
  text-align: justify;
  width:20.1vw;
}



.title-right{
  position:sticky;
  float:right;
  text-align: center;
  width: 7vw;

  margin-top: 6vh;
  background-color: salmon;
  color: white;
}

.title-left{
  position:relative;
  float:left;
  text-align: center;
  width: 7vw;
  margin-top: 6vh;
  margin-left: 0%;
  background-color: salmon;
  color: white;
}

.thumbnail-right{
  position:relative;
  float:right;
  height: 300px;
  width: 420px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  rgba(0,0,0,0.55) url(https://i.ytimg.com/vi/JGItAHVBPwU/maxresdefault.jpg) no-repeat center;
background-size: 420px 300px;

}



.thumbnail-right:hover{
 position:relative;
 float:right;
 background: url(https://i.ytimg.com/vi/JGItAHVBPwU/maxresdefault.jpg) no-repeat center;
background-size: 420px 300px;


}

.thumbnail-left{
 position:relative;
 float:left;
 height: 300px;
 width: 420px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  rgba(0,0,0,0.55) url(https://i.ytimg.com/vi/JGItAHVBPwU/maxresdefault.jpg) no-repeat center;
background-size: 420px 300px;
}

.thumbnail-left:hover{
 position:relative;
 float:left;
 background: url(https://i.ytimg.com/vi/JGItAHVBPwU/maxresdefault.jpg) no-repeat center;
background-size: 420px 300px;
}

.small{
  height: 200px;
}
h1 {
  margin: -10px -10px 5% -10px;
  padding: 20px;
  padding-top: 50px;
  min-height: 140px;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-style:normal;
  color: white;
  background-color: salmon;
  
}

ul{
  margin-left: -10px;
  margin-right: 30px;
}

.menu {
  /*padding-left:10px;
  padding-right:20px;*/

  margin-top: -10px;
  background-color: salmon;
  margin: 0 auto;
  width: 49.1vw;
  display: inline-flex;
  min-width: 942px;

}
.menu a {
	color: white;
	text-decoration:none;
	padding:5px;

}
.menu li {
 display:inline-block;
 font-weight: bold;
 font-size: 29px;
 padding:0px 20px 0px 38.4px;
}

.menu li:hover {
 display:inline-block;
 font-weight: bold;
 font-size: 29px;
 text-decoration: underline;
 padding:0px 20px 0px 38.4px;
}

.imagem {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

h4{
  color:white;
  margin-top: -80px;
  margin-bottom: 80px;
  z-index: 1000 !important;
  text-align: center;
}
